<p>readdata works!</p>
<table>
    <tr>
        <th>Sku</th>
        <th>Model</th>
        <th>Name</th>
        <th>Category</th>
            
        
        <th>Description</th>
        <th>Price</th>
        <th>Type</th>
    </tr>
    
    <tr *ngFor="let item of mydata" >
        <td>{{item.sku}}</td>
        <td>{{item.model}}</td>
        <td>{{item.name}}</td>
        <!-- <td>{{item.userId}}</td> -->
        <div *ngFor="let ele of item.category" class="myclass">
            <td>{{ele.id}}</td>
            <td>{{ele.name}}</td> 
        </div>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.type}}</td>
    </tr>

</table>
<!-- <mat-grid-list cols="4"  gutterSize="10px" >
    <div *ngFor="let item of mydata.category">
    <mat-grid-tile class="mycontainer"  >
    <mat-card class="example-card">
         <p>{{item.sku}}</p>
        
        <mat-card-title>{{item.name}} </mat-card-title>
         <mat-card-content>
           {{item.description}}
          </mat-card-content>
        
      </mat-card>
    </mat-grid-tile>
    </div>
    </mat-grid-list> -->